@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$main_font: 'Lato', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$blackC: #000000;
$yellow: #E08709;;
$green: #71B100;
$green2:rgb(82, 126, 6);
$white: #FFFFFF;
$grey: #e1e1e1;
$greyO: #333333;
$alert: rgb(177, 0, 0);
$space: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$blackF: 900