@use "base/variables" as v;
@use "base/mixins" as m;


.no-webp .contact-img{
    background-image: url('/ihouse/build/img/encuentra.jpg');
}
.webp .contact-img{
    background-image: url('/ihouse/build/img/encuentra.webp');
}

.contact-img{
    background-position: center center;
    background-size: cover;
    padding: v.$space*2 .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        color: v.$white;
        font-size: 4rem;
        font-weight: v.$blackF;
    }
    p{
        font-size: 1.8rem;
        color: v.$white;
    }
}