@use "base/variables" as v;
@use "base/mixins" as m;

.alert {
  &.error {
    background-color: v.$alert;
    color: v.$white;
    margin: 1rem;
    padding-left: 1rem;
    text-transform: uppercase;
  }

  &.success {
    background-color: v.$green;
    text-align: center;
    color: v.$white;
  }
  color: v.$white;
}

table.props {
  margin-top: 4rem;
  width: 100%;
  border-spacing: 0;
  align-items: center;

  thead {
    background-color: v.$green;

    th {
      color: v.$white;
      padding: 2rem;
    }
  }
  .td-image{
    width: 10rem;
  }
}
.img-small{
  width: 20rem;
  margin-bottom: 1.8rem;
}